{
    "presets": ["babel-preset-vue", "@babel/preset-env"],
    "plugins": ["transform-regenerator"],
    "env": {
      "test": {
        "presets": [["env", { "targets": { "node": "current" } }]]
      }
    }
  }